# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# R Pi Build cache
rp2040/cpp-sdk/build
# VS Code configs (local to the user's environment)
**/.vscode

# STM32 build cache
ws281x-arm/stm32f103c8/Cube-arm-native/Debug/*.bin
ws281x-arm/stm32f103c8/Cube-arm-native/Debug/*.hex
ws281x-arm/stm32f103c8/Cube-arm-native/Debug/*.elf
ws281x-arm/stm32f103c8/Cube-arm-native/Drivers/*
# CrossWorks project files
!*/*.hzp
!*/*.hzs
.mxproject